*{
    box-sizing: border-box;
}

body {
    background-color: #333;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
 
}

.padre{
    text-align: center;
    background-color: white;
}

header{
    background-color: #333;
    color: white;
    width: 1000px;
    height: 350px;
    position: relative;
    top: 100px;
   
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icono {
    width: 50px;
    
}
.foto-perfil{
    border: 10px solid gray;
    width: 290px;
    height: 340px;
    
}

.image{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    bottom: 160px;
    left: 80px;
}
.footer{
    padding-top: 100px;
    margin-left: auto;
}
.footer-uno{
    text-align: left;
    margin-left: 40px;
}

.bloque-uno{
    text-align: left;
    width: 450px;
    border-bottom: grey solid 2px;
    padding: 50px;

}

.bloque-dos{
    text-align: left;
    width: 450px;
    border-bottom: grey solid 2px;
    padding: 50px;


}

.bloque-tres{
    text-align: left;
    width: 450px;
    padding: 50px;

}

.bloque-cuatro {
    text-align: left;
    width: 500px;
    padding: 50px;
    

   
}

.bloque-cinco{
    text-align: left;
    width: 500px;
    padding: 50px;

  

}

.bloque-cuatro-cinco{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    bottom: 860px;
}
.titulo-sub{
    border-bottom: grey solid 2px;
    padding: 10px;



}

