*{
    box-sizing: border-box;
}

body {
    width: 1200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family:font-family: 'Roboto Condensed', sans-serif, Helvetica;
    background-color: rgb(82, 86, 89);
    color: #333;
    margin top: 0px;
    

     
}

.padre{
    text-align: center;
    background-color: white;
    font-size: 20px;
    box-shadow: 5px 5px 5px #333;
    line-height: 30px;
    overflow: hidden;
    height: 1800px;
    width: 100%;


    
}

header{
    background-color: #333;
    color: white;
    width: 950px;
    height: 330px;
    position: relative;
    top: 100px;
   
  
   
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding-left: 80px;
    letter-spacing: 5px;  



}

.icono {
    width: 28px;
    position: relative;
    left: 50px;
 
    
}
.foto-perfil{
    border: 13px solid gray;
    width: 270px;
    height: 340px;
    position: relative;
    top: -40px;
    
}

.image{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    bottom: 160px;
    left: 80px;
}
.footer{
    padding-top: 100px;
    margin-left: auto;
    display: flex;
    margin-top: 5px;
    opacity: 70%;
    position: relative;
    left: 20px;
   
}
.footer-uno{
    text-align: left;
    margin-left: 40px;
}

.bloque-uno{
    text-align: left;
    width: 400px;
    border-bottom: grey solid 2px;
    padding: 10px;
    margin-left: 40px;
    opacity: 90%;
    padding-top: 40px;
    padding-bottom: 40px;


}

.bloque-dos{
    text-align: left;
    width: 400px;
    border-bottom: grey solid 2px;
    padding: 10px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: left;
    justify-content: space-between;
    opacity: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
    word-spacing: 8px;


}

.bloque-tres{
    text-align: left;
    width: 430px;
    padding: 10px;
    margin-left: 40px;
    opacity: 90%;



}

.bloque-cuatro {
    text-align: left;
    width: 550px;
    padding: 10px;
    opacity: 90%;
    margin-left: 40px;
    line-height: 24px;
    

   
}

.bloque-cinco{
    text-align: left;
    width: 550px;
    padding: 10px;
    opacity: 90%;
    line-height: 24px;
    padding-top: 10px;


}

.bloque-cuatro-cinco{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    bottom: 1100px;
    padding-bottom: 0px;
    
}
.titulo-sub{
    border-bottom: grey solid 2px;
    padding: 10px;


}
.parrafo{
    text-align: justify;
    line-height: 25px;
}

.posicion{
    position: relative;
    left: -160px;
    text-align: center;
    top: 60px;
    display: flex;
    justify-content: space-between;
    opacity: 50%;
    line-height: 1.5;
    font-weight: bold;
    
}

.lista{
    color: black;
    padding: 15px;
    text-transform: uppercase;
    word-spacing: 30px;
    text-align: right   ;
    
   
    

}
.negrita{
    font-weight: bolder;
    position: relative;
    font-weight: 1.5em;
}

.profesion{
    color: grey;
}

.borde-uno{
    border-left: lightgrey solid 5px;
    position: absolute;
    top: -100px;
    height: 200px;
    width: 50px;
    left: 50px;
}
.borde-dos{
    border-left: lightgrey solid 5px;
    position: absolute;
    top: 180px;
    height: 200px;
    width: 50px;
    left: 50px;
}

.input{
    color: black;
    cursor: pointer;
    
    }

    input[type=range] {
        width: 40%;
        margin: 10px 0;
        background-color: lightgray;
        -webkit-appearance: none;
        cursor: pointer;
        color: #333;

      }
      input[type=range] {
        background: #333;
        border: 1px solid #333;
        opacity: 95%;
        height: 16px;


      }